$background-color: #414141
$font: 'Montserrat', sans-serif
$fontColor: white
$primaryColor: #007BFF

textarea, select, input, button
  outline: none

body
  background-color: $background-color
  font-family: $font
  color: white
  position: relative
   max-width: 100%
  overflow-x: hidden
  height: 100%

.blueCutout
  background-color: $primaryColor
  width: 600px
  height: 600px
  position: absolute
  right: -350px
  top: -350px
  transform: rotate(45deg)
  -webkit-box-shadow: -7px 7px 5px 0px #383838
  -moz-box-shadow: -7px 7px 5px 0px #383838
  box-shadow: -7px 7px 5px 0px #383838
  
.container
  display: grid
  justify-content: center
  align-content: center
  height: 700px

.iframeSections
  display: flex
  flex-direction: row
  justify-content: space-around
  padding-left: 4em
  padding-right: 4em

.iframeSection
  padding: 2em

main
  height: 80%

.urlInput
  width: 800px
  background-color: transparent
  border-top: none
  border-left: none
  border-right: none
  color: $fontColor
  font-family: $font
  font-size: 30px
  margin-bottom: 1em

.urlInput::placeholder
  color: #c2c2c2

.deviceIcon
  font-size: 100px
  width: 17%
  padding-left: .5em

footer
  position: fixed
  bottom: 0
  width: 100%

.footerText
  text-align: center
  font-size: 16px

.urlInputTester
  width: 400px
  background-color: transparent
  border-top: none
  border-left: none
  border-right: none
  color: $fontColor
  font-family: $font
  font-size: 18px
  margin-bottom: 1em
  margin-left: 10px

.iframePageForm
  display: flex
  flex-direction: row
li 
  display: inline-block
  list-style: none
  margin: 0 10px
ul
  padding: 0
  margin: 0
  display: flex
  align-items: center

li 
  font-size: 18px
  font-weight: 700
  margin-right: 10px
  cursor: pointer

ul li ul 
  visibility: hidden
  opacity: 0
  position: absolute
  margin-top: .7rem
  display: none

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover  
  visibility: visible
  opacity: 1
  display: block

ul li ul li 
  clear: both
  width: 100%
  padding-top: 15px

.chooseDevice
  background-color: $primaryColor
  padding: 10px
  border-radius: 3px

.dropdown
  background-color: $primaryColor
  padding: 10px
  border-radius: 3px
  width: 150px

.urlInputTester::placeholder
  color: #c2c2c2

iframe
  width: 100%
  display: block
.listItems
  text-decoration: none
  list-style: none
  font-size: 20px
  padding-inline-start: 0px
 
.listItems li 
  margin-top: 4em
  text-align: center
  cursor: pointer
  opacity: .58

.listItems li::visited
  opacity: 1

.listItems li:active
  opacity: 1

.listItems li:hover
  opacity: 1

.selected 
  opacity: 1!important

.sizeIndicator
  text-align: center
  font-size: 30px