textarea, select, input, button {
  outline: none;
}

body {
  background-color: #414141;
  font-family: "Montserrat", sans-serif;
  color: white;
  position: relative;
  position-max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.blueCutout {
  background-color: #007BFF;
  width: 600px;
  height: 600px;
  position: absolute;
  right: -350px;
  top: -350px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: -7px 7px 5px 0px #383838;
  box-shadow: -7px 7px 5px 0px #383838;
}

.container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 700px;
}

.iframeSections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 4em;
  padding-right: 4em;
}

.iframeSection {
  padding: 2em;
}

main {
  height: 100%;
}

.urlInput {
  width: 800px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-bottom: 1em;
}

.urlInput::-webkit-input-placeholder {
  color: #c2c2c2;
}

.urlInput:-ms-input-placeholder {
  color: #c2c2c2;
}

.urlInput::-ms-input-placeholder {
  color: #c2c2c2;
}

.urlInput::placeholder {
  color: #c2c2c2;
}

.deviceIcon {
  font-size: 100px;
  width: 17%;
  padding-left: .5em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerText {
  text-align: center;
  font-size: 16px;
}

.urlInputTester {
  width: 400px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-bottom: 1em;
}

.iframePageForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li {
  font-size: 18px;
  font-weight: 700;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #4A3B34;
  padding: 8px;
}

.top-level-link:hover, .top-level-link:active, .top-level-link:focus {
  text-decoration: none;
  color: white;
  background-color: #0095CE;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 1rem;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.low-level-link:hover, .low-level-link:active, .low-level-link:focus {
  background-color: #3FAAD3;
  color: #4A3B34;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.low-level-link {
  background-color: #3FAAD3;
  color: #4A3B34;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.urlInputTester::-webkit-input-placeholder {
  color: #c2c2c2;
}

.urlInputTester:-ms-input-placeholder {
  color: #c2c2c2;
}

.urlInputTester::-ms-input-placeholder {
  color: #c2c2c2;
}

.urlInputTester::placeholder {
  color: #c2c2c2;
}

iframe {
  width: 100%;
  display: block;
}

.listItems {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.listItems li {
  margin-top: 4em;
  text-align: center;
  cursor: pointer;
  opacity: .58;
}

.listItems li::visited {
  opacity: 1;
}

.listItems li:active {
  opacity: 1;
}

.listItems li:hover {
  opacity: 1;
}

.selected {
  opacity: 1 !important;
}

.sizeIndicator {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */